body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #588152;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #d7d7cd;
    color: black;
    text-align: center;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    cursor:pointer;
    padding: 10px;
    display: inline-block;
    margin-left: 10px;
}
img {
    width: 90px;
    height: auto;
    margin-left: 10px;
}

.title{
    font-size: 60px;
    color: #344e41;
}

.subTitle{
    font-size:35px;
}

.item-navbar:hover{
    color:#c5c8cd
}

.navbar-custom {
    background-color: inherit;
}
.navbar-custom .navbar-toggler {
    color: #fff; 
    border-color: #fff;
}
.navbar-custom .navbar-nav .nav-link {
    color: #fff; 
}

.imgFondoFicha{
    background: #dad7cd;
    border-radius: 10px;
}

.imgFicha{
    width: 300px;
    border-radius: 20px;
    margin: 0px;
}

.textoFicha{
    font-size: 20px;
}

.titleSinColor{
    font-size: 40px;
}
.textoCuerpo{
    font-size: 20px;
}

.textoCardJuego{
    text-decoration:none !important;
    color: white !important;
    font-size: 20px;
}

.cardJuego{
    height: 60px;
    background: #3a5a40;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.cardJuego:hover {
    transform: translateY(-10px);
}
